
<div class="user-dashboard-header">
<h1><%= number_to_currency(@sales_brl, unit: "R$", separator: ",", delimiter: "") %></h1>
<h3><%= @bookings.count %> <span id="user-dashboard-header-bookings"> bookings</span></h3>
</div>



<div class="container dashboard-container">
  <div class="row">
    <% @rooms.each do |room| %>
      <div class="board col-xs-12 col-md-4 col-lg-4">
        <div class="dashboard ">
          <div class="dashboard-body">
            <ul>
              <li><%= room.name %> </li>
              <li><%= room_bookings(room, current_user).count %> </li>
              <li>Average fees: <%= @average_fee_percent %>% </li>
              <li>Revenue: $<%= @revenue %> </li>
            </ul>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
